/*
Theme Name: Auto-Kenya
Theme URI:
Author:
Author URI:
Template:
Description:
Version: 1.3
Tags: two-columns, three-columns, left-sidebar, right-sidebar, translation-ready, custom-background, custom-logo, featured-images, footer-widgets, full-width-template, blog, e-commerce, portfolio
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl.html
Text Domain:
*/